<h1>Chef Login</h1>

<%= form_for :session, url: chefs_login_path do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="field">
    <%= label_tag :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.check_box :chef, class: 'form-check-input' %>
    <%= label_tag :chef, class: 'form-check-label' do %>
      I am a chef
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Log In', class: 'btn btn-primary' %>
  </div>
<% end %>
