<!DOCTYPE html>
<html>
<head>
  <title>Chef Home</title>
  <%= csrf_meta_tags %>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
    }

    .card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 200px;
      padding: 20px;
      margin: 10px;
      text-align: center;
    }

    h2 {
      color: #333;
    }

    p {
      color: #555;
    }

    .no-schedule {
      font-size: 18px;
      color: #555;
    }

    .edit-schedule-btn {
      margin-top: 20px;
      background-color: #FFA500;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }

    .edit-schedule-btn:hover {
      background-color: #FF8C00;
    }
  </style>
</head>
<body>
  <div class="container">
    <% if @week_schedule.present? %>
      <% @week_schedule.each do |schedule| %>
        <div class="card">
          <h2><%= schedule.date.strftime('%A') %></h2>
          <p>Date: <%= schedule.date %></p>
          <p>Meal: <%= schedule.meal_name %></p>
          <p>Cuisine: <%= schedule.meal_cuisine %></p>
          <p>Time: <%= schedule.meal_time %></p>
          <p>Price: <%= schedule.meal_price %></p>
          <p>Recurrence: <%= schedule.meal_recurrence %></p>
          <p>Max Guests: <%= schedule.max_num %></p>
          <p>Booked Guests: <%= schedule.booked_num %></p>
        </div>
      <% end %>
    <% else %>
      <p class="no-schedule">No schedule so far.</p>
    <% end %>
    <%= link_to 'Edit Schedule', chefs_edit_schedule_path, class: 'edit-schedule-btn' %>
  </div>
</body>
</html>
