<!DOCTYPE html>
<html>
<head>
  <title>Customer Login</title>
  <%= csrf_meta_tags %>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      padding: 20px;
    }

    .field {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; /* Prevent wrapping */
    }

    label {
      font-weight: bold;
      display: inline-block;
      width: 50%;
      text-align: right;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .customer-image {
      max-width: 100%;
      max-height: 200px;
    }

    .actions {
      margin-top: 20px;
    }

    .btn-primary {
      background-color: #FFA500;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .btn-primary:hover {
      background-color: #FF8C00;
    }

    .error-message {
      color: #d9534f;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <% if flash[:danger] %>
      <div class="alert alert-danger">
        <%= flash[:danger] %>
      </div>
    <% end %>
    <div class="form-container">
      <h1>Customer Login</h1>
      <img src="<%= asset_path('customer-image.png') %>" alt="Customer Image" class="customer-image">
      <%= form_for method="post", url: customers_login_path do |f| %>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="actions">
          <%= f.submit 'Log In', class: 'btn btn-primary' %>
        </div>
        <div class="signup-button">
          <%= link_to 'Sign Up', customers_signup_path, class: 'btn btn-primary' %>
        </div>
        <%= render 'shared/error_messages', object: @customer %>
      <% end %>
    </div>
  </div>
</body>
</html>
